.image {
  background: url('https://image.freepik.com/free-vector/error-404-concept-landing-page_23-2148235658.jpg');
  background-position: center;
  background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}
